python/dec_01/input_01.txt
go/dec_01/input_01.txt
python/dec_02/input_02.txt
go/dec_02/input_02.txt
ruby/dec_01/input_01.txt
python/dec_03/input_03.txt
python/dec_04/input_04.txt
python/dec_05/input_05.txt
go/dec_03/input_03.txt
python/dec_06/input_06.txt
ruby/dec_02/input_02.txt
ruby/dec_06/input_06.txt
go/dec_04/input_04.txt
ruby/dec_03/input_03.txt
